@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');
.smartcontract {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    
  }
  .smartcontract label {
    text-align: center;
    display: block;
  }
  .smartcontract h2 {
    font-size: 12px;
    color: #000000;
    margin-bottom: 0px;
  }
  .smartcontract input, .create textarea, .create select {
    width: 100%;
    padding: 10px 10px 10px px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
  }
  .smartcontract button {
    background: #000000;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px 0;
    
  }

  .smartcontract h1 {
    font-size: 20px;
    padding-left:10px;
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
  }
.buttonRequest{
  background: #000000;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px 110px 1px 25px;
  
}

.blueLinks a { 
  color:inherit !important; 
  text-decoration: none !important; 
  font-size: 13px;
  

}
